body {
    background-color: lavender;
}

#form-reg {
    max-width: 300px;
    margin: 0 auto;
    border: 1px blue solid;
    padding: 20px;
    border-radius: 20px;
}

.form-item {
    background-color: darkblue;
    border: white solid 1px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.form-btn {
    background-color: aqua;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid darkblue;
    margin-top: 5px;
}

.form-btn:hover {
  border:3px solid darkblue;
  background-color: rgb(0, 182, 182);
}